.links,
.links:hover,
.links:visited {
  color: inherit;
  text-decoration: inherit;
}

.heroImg {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.textContainer {
  background-color: hsla(0, 0%, 0%, 0.5);
  padding: 20px;
  border-radius: 20px;
} 